* {
    /* Fondo principal y texto */
    bg:          #1e1e2e;
    fg:          #cdd6f4;
    
    /* Colores del tema Catppuccin */
    mauve:       #cba6f7;
    base:        #1e1e2e;
    
    /* ELEMENTOS SELECCIONADOS (El cambio importante) */
    /* Usamos 'mauve' de fondo y 'base' de texto para que se lea perfecto */
    selected-bg: #cba6f7; /* Mauve */
    selected-fg: #1e1e2e; /* Base (texto oscuro) */
}
